<h1> Ici on édite le gossip </h1>


<div class="container mx-auto mt-5 pt-5 w-25">

 <%= form_for @gossip_update, url: gossip_path do |f| %>
    
    <div class="form-group">
      <%= f.label 'Nouveau Titre' %>
       <div class="col-md-8">
      <%= f.text_field :title, class: "form-control" %>
       </div>
    </div>

      <div class="form-group">
        <%= f.label 'Nouveau Gossip' %>
      <div class="col-md-8">
        <%= f.text_area :content, class: "form-control" %>
      </div>
  
      </div>



      <%= f.submit "Modifier", class: 'btn btn-default btn-lg btn-submit'%>

    <% end %>
</div>