<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  
    <div class="row">
        <%= link_to new_gossip_path, :class=>"btn btn-outline-primary btn-lg mx-auto mt-5" do %>
            <strong>Créer un gossip</strong>
        <% end %>
    </div>
    
    </div>
</div>
    <div class="row background-row pt-5">
        <div class="container">
            <% @array.each do |ag| %>
                <div class="row pb-5">
                    <% ag.each do |g| %>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex justify-content-between">
                                        <h5><%= g.title %> <small><em>crée le <%= g.created_at.to_s.split(' ')[0] %></em></small></h5>
                                        <% if current_user == g.user %>
                                            <%= link_to gossip_path(g.id), method: "delete", :data => {:confirm => 'Are you sure?'} do %>   
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash red" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            <% end %>
                                         <% end  %>
                                    </div>
                                    <p class="card-text pb-2">
                                        écrit par  
                                        <%= link_to user_path(g.user.id) do %>
                                            <strong><%= g.user.first_name %> <%= g.user.last_name %> </strong>   
                                        <% end %>
                                    </p>
                                    <%= link_to gossip_path(g.id), :class=>"btn btn-primary" do %>
                                        <strong>Accéder au gossip</strong>
                                    <% end %>
                                    <p><%= g.likes.count %> <%= (g.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>