


<div class="container-fluid" >

    <div class="row background-row pt-5 pb-5">
        <div class="container">
            <div class="row">
                <h1 class=" mx-auto">
                <%= link_to user_path(@user.id) do %>
                    <%= @user.first_name %> 
                    <%= @user.last_name %> 
                <% end %>
                </h1>
            </div>
            <div class="row">
                <p class="mx-auto">de <%= link_to city_path(@user.city_id) do %> <em><%= @user.city.name %></em> <% end %></p>
            </div>
    
            <div class="row">
                <p class="mx-auto">
                    <%= @gossip.content %>
                </p>
            </div>

            <% if current_user == @user %>
            <div class="row">
                <p class="mx-auto">
                <%= link_to edit_gossip_path(@gossip.id), :class=>"btn btn-outline-primary btn-lg mx-auto mb-5 mt-5" do %>
                        <strong>Modifier le gossip</strong>
                        <% end %>
            </div>
            <% end %>              


            <% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
            
            <% if pre_like %>
            <div class="row ">
            <p><%= @gossip.likes.count %> <%= (@gossip.likes.count) == 1 ? 'Like' : 'Likes'%></p>
              <%= button_to 'Unlike', gossip_like_path(@gossip, pre_like), method: :delete %>
            <% else %>
            <p><%= @gossip.likes.count %> <%= (@gossip.likes.count) == 1 ? 'Like' : 'Likes'%></p>
              <%= button_to 'Like', gossip_likes_path(@gossip), method: :post %>
              </div>
            <% end %>
         

            <h3>Ajouter un commentaire</h3>
            <%= pre_like %>
            <%= form_for([@gossip, @gossip.comments.build]) do |f| %>
                <%= f.text_field :content %>
                <%= f.submit "confirmer" %>
            <% end %>



            <div class="row pt-5 mt-5">
                <% @gossip.comments.each do |c| %>
                    <%= c.content %><br />
                <% end %>
            </div>


            </div>
        </div>
    </div>
</div>
     



