<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
  
  
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="/gossips">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">

      <% if !session[:user_id] %>
        <li class="nav-item">
          <a class="nav-link" href="/user/new">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/session/new">Se connecter</a>
        </li>
       <% end %>

      <% if session[:user_id]%>
           <li class="nav-item">
              <a class="nav-link" href="#">Bonjour <%= current_user.first_name.capitalize %></a>
          </li> 
           <%= link_to new_session_path, method: "delete", class: "nav-link" do %> 
                  Se déconnecter
          <% end %>
      <% end %>
    </ul>
    
  </div>
</nav>
  
  
  
  
  
  <!-- Links 



  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

  <a class="navbar-brand" href="/gossips">The Gossip Project </a>
  
  <ul class="navbar-nav ml-auto">
  <% if !session[:user_id] %>
    <li class="nav-item">
      <a class="nav-link" href="/user/new">S'inscrire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/session/new">Se connecter</a>
    </li>
   <% end %>
     <% if session[:user_id]%>
      <li class="nav-item">
        <a class="nav-link" href="#">Bonjour</a>
      </li> 
      <%= link_to new_session_path, method: "delete", class: "nav-link" do %> 
      Se déconnecter
    <% end %>
   
  <% end %>
  </ul>
</nav>
-->
    <%= yield %>
  </body>
</html>
