<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/gossips">The Gossip Project <%= session[:user_id] %></a>
  
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
  <% if !session[:user_id] %>
    <li class="nav-item">
      <a class="nav-link" href="/user/new">S'inscrire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/session/new">Se connecter</a>
    </li>
   <% end %>
     <% if session[:user_id]%>
      <li class="nav-item">
        <a class="nav-link" href="#">Bienvenue <%= User.find(session[:user_id]).first_name.capitalize %></a>
      </li> 
      <%= link_to new_session_path, method: "delete", class: "nav-link" do %> 
      Se déconnecter
    <% end %>
   
  <% end %>
  </ul>
</nav>
    <%= yield %>
  </body>
</html>
